@font-face {
    font-family: 'ABC Connect Mono Nail';
    src: url('/assets/fonts/ABCConnectMono-Nail-Trial.woff2') format('woff2'),
         url('/assets/fonts/ABCConnectMono-Nail-Trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/assets/images/background.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'ABC Connect Mono Nail', sans-serif;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    transition: filter 0.3s ease;
}

img:hover {
    filter: hue-rotate(360deg) saturate(500%);
}

.top-right-square {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff1b27;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    transition: filter 0.3s ease;
}

.top-right-square:hover {
    filter: hue-rotate(360deg) saturate(500%);
}

.links-container {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff1b27;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-container li {
    margin-bottom: 10px;
}

.links-container a {
    text-decoration: none;
    color: white;
}

.links-container a:hover {
    text-decoration: underline;
}